<html>
<table width="100%" cellspacing="2" cellpadding="2" border="1">
<tbody>
<tr>
<td valign="center" align="center" width="25%"><img src="media/decartes.jpg"
alt="DeCART Icon" width="128" height="171"><br>
</td>
<td valign="center" align="center" width="75%">
<h1 align="center"><font size="+1">DeCART Summer School<br>
for<br>
Biomedical Data Science</font></h1></td>
<td valign="center" align="center" width="25%"><img
src="media/U_Health_stacked_png_red.png" alt="Utah Health
Logo" width="128" height="134"><br>
</td>
</tr>
</tbody>
</table>
<br>
</html>

# Basic Numeric Data Characterization

Numpy provides a number of functions/methods for characterizing

In [41]:
import os
import numpy as np
import utils
import numpy.random as ra
import pandas as pd

In [42]:
from quizzes.characterizing_numeric_data import *

In [3]:
pd.__version__

'0.23.1'

In [46]:
DATADIR = os.path.join(os.path.expanduser("~"),"DATA")
HRDIR = os.path.join(DATADIR,"Numerics", "mimic2", "hr", "subjects")
BPDIR = os.path.join(DATADIR,"Numerics", "mimic2", "bp", "subjects")

hr_files = os.listdir(HRDIR)
hr_files

['24835.txt',
 '10804.txt',
 '22241.txt',
 '11824.txt',
 '22707.txt',
 '22512.txt',
 '6615.txt',
 '732.txt',
 '8271.txt',
 '11808.txt',
 '3587.txt',
 '21500.txt',
 '18531.txt',
 '17025.txt',
 '9157.txt',
 '14266.txt',
 '22496.txt',
 '16712.txt',
 '24198.txt',
 '6152.txt',
 '24595.txt',
 '21442.txt',
 '18568.txt',
 '10305.txt',
 '25674.txt',
 '3554.txt',
 '8038.txt',
 '11307.txt',
 '25845.txt',
 '8722.txt',
 '17848.txt',
 '792.txt',
 '4549.txt',
 '25556.txt',
 '17970.txt',
 '8569.txt',
 '22565.txt',
 '5904.txt',
 '4851.txt',
 '20508.txt',
 '18471.txt',
 '12667.txt',
 '17083.txt',
 '26107.txt',
 '14515.txt',
 '10019.txt',
 '22096.txt',
 '16240.txt',
 '1270.txt',
 '29348.txt',
 '14722.txt',
 '3275.txt',
 '4927.txt',
 '19413.txt',
 '2180.txt',
 '22492.txt',
 '6701.txt',
 '2364.txt',
 '283.txt',
 '7352.txt',
 '5819.txt',
 '4666.txt',
 '26498.txt',
 '2871.txt',
 '10193.txt',
 '13575.txt',
 '22916.txt',
 '19847.txt',
 '19619.txt',
 '10557.txt',
 '25963.txt',
 '19597.txt',
 '10093.txt',
 '19352.txt',
 '17754.txt',
 '5150.txt',
 '5252.txt',
 '13706.txt',
 '10784.txt',
 '20349.txt',
 '22537.txt',
 '3941.txt',
 '22376.txt',
 '18253.txt',
 '13545.txt',
 '13566.txt',
 '5845.txt',
 '26388.txt',
 '3474.txt',
 '7255.txt',
 '14059.txt',
 '13993.txt',
 '6898.txt',
 '25814.txt',
 '30420.txt',
 '23138.txt',
 '11680.txt',
 '21126.txt',
 '19494.txt',
 '21856.txt',
 '4993.txt',
 '2765.txt',
 '15730.txt',
 '23275.txt',
 '3677.txt',
 '20448.txt',
 '12727.txt',
 '18589.txt',
 '10301.txt',
 '22338.txt',
 '19628.txt',
 '1752.txt',
 '9152.txt',
 '11092.txt',
 '3913.txt',
 '18556.txt',
 '20879.txt',
 '20386.txt',
 '12870.txt',
 '15422.txt',
 '24582.txt',
 '17519.txt',
 '21372.txt',
 '17121.txt',
 '26588.txt',
 '9132.txt',
 '9754.txt',
 '25152.txt',
 '7910.txt',
 '23502.txt',
 '1314.txt',
 '23961.txt',
 '22970.txt',
 '6746.txt',
 '25517.txt',
 '25455.txt',
 '20280.txt',
 '15194.txt',
 '20794.txt',
 '25711.txt',
 '23641.txt',
 '5194.txt',
 '24224.txt',
 '17399.txt',
 '12166.txt',
 '10577.txt',
 '1882.txt',
 '13966.txt',
 '7895.txt',
 '19662.txt',
 '8440.txt',
 '2863.txt',
 '4798.txt',
 '22137.txt',
 '20181.txt',
 '17808.txt',
 '24823.txt',
 '21553.txt',
 '19848.txt',
 '3678.txt',
 '8494.txt',
 '18463.txt',
 '8920.txt',
 '19006.txt',
 '19898.txt',
 '3831.txt',
 '22938.txt',
 '985.txt',
 '9464.txt',
 '11466.txt',
 '8264.txt',
 '23592.txt',
 '21374.txt',
 '15011.txt',
 '25408.txt',
 '5174.txt',
 '24580.txt',
 '3015.txt',
 '15675.txt',
 '11930.txt',
 '19433.txt',
 '15283.txt',
 '2564.txt',
 '17875.txt',
 '5241.txt',
 '3236.txt',
 '18552.txt',
 '14457.txt',
 '2581.txt',
 '9732.txt',
 '23115.txt',
 '7265.txt',
 '21216.txt',
 '31270.txt',
 '12099.txt',
 '11101.txt',
 '1531.txt',
 '1234.txt',
 '18588.txt',
 '19326.txt',
 '1227.txt',
 '18989.txt',
 '20384.txt',
 '17629.txt',
 '16400.txt',
 '19128.txt',
 '13495.txt',
 '2456.txt',
 '18475.txt',
 '20091.txt',
 '9259.txt',
 '26645.txt',
 '12550.txt',
 '6366.txt',
 '17330.txt',
 '23038.txt',
 '29486.txt',
 '19082.txt',
 '18984.txt',
 '21371.txt',
 '16449.txt',
 '24263.txt',
 '23508.txt',
 '22595.txt',
 '8445.txt',
 '9900.txt',
 '7952.txt',
 '11137.txt',
 '19243.txt',
 '21652.txt',
 '11720.txt',
 '26474.txt',
 '15907.txt',
 '1684.txt',
 '13882.txt',
 '29853.txt',
 '27051.txt',
 '9497.txt',
 '11605.txt',
 '26267.txt',
 '21967.txt',
 '22169.txt',
 '16622.txt',
 '12651.txt',
 '14579.txt',
 '24569.txt',
 '26241.txt',
 '32131.txt',
 '9024.txt',
 '30984.txt',
 '14388.txt',
 '7515.txt',
 '11147.txt',
 '16923.txt',
 '11729.txt',
 '26713.txt',
 '21082.txt',
 '3248.txt',
 '14574.txt',
 '10874.txt',
 '2186.txt',
 '14049.txt',
 '21184.txt',
 '4303.txt',
 '19872.txt',
 '3778.txt',
 '32675.txt',
 '10628.txt',
 '20050.txt',
 '2127.txt',
 '7284.txt',
 '32401.txt',
 '4690.txt',
 '21705.txt',
 '11547.txt',
 '28325.txt',
 '12212.txt',
 '21207.txt',
 '23520.txt',
 '31476.txt',
 '4195.txt',
 '21815.txt',
 '4698.txt',
 '18700.txt',
 '23056.txt',
 '8186.txt',
 '27056.txt',
 '9951.txt',
 '14126.txt',
 '3101.txt',
 '30817.txt',
 '19147.txt',
 '2213.txt',
 '17342.txt',
 '10541.txt',
 '15445.txt',
 '15654.txt',
 '22348.txt',
 '12071.txt',
 '12646.txt',
 '6639.txt',
 '15227.txt',
 '16990.txt',
 '14827.txt',
 '22818.txt',
 '11282.txt',
 '9621.txt',
 '9200.txt',
 '1501.txt',
 '11433.txt',
 '1106.txt',
 '24907.txt',
 '24935.txt',
 '23985.txt',
 '19359.txt',
 '517.txt',
 '12704.txt',
 '5712.txt',
 '9082.txt',
 '408.txt',
 '3400.txt',
 '5225.txt',
 '7718.txt',
 '14207.txt',
 '8196.txt',
 '16985.txt',
 '5472.txt',
 '13657.txt',
 '12413.txt',
 '1449.txt',
 '4793.txt',
 '9726.txt',
 '28266.txt',
 '19023.txt',
 '2428.txt',
 '25525.txt',
 '13943.txt',
 '5853.txt',
 '22956.txt',
 '5532.txt',
 '1357.txt',
 '19680.txt',
 '2664.txt',
 '10830.txt',
 '14566.txt',
 '23877.txt',
 '10088.txt',
 '3520.txt',
 '19002.txt',
 '16641.txt',
 '6817.txt',
 '18736.txt',
 '11332.txt',
 '13660.txt',
 '24851.txt',
 '21903.txt',
 '30404.txt',
 '27671.txt',
 '11191.txt',
 '24846.txt',
 '14080.txt',
 '12045.txt',
 '18818.txt',
 '25441.txt',
 '5029.txt',
 '20409.txt',
 '25180.txt',
 '308.txt',
 '7328.txt',
 '12925.txt',
 '14575.txt',
 '9086.txt',
 '10653.txt',
 '25300.txt',
 '15396.txt',
 '26318.txt',
 '618.txt',
 '10245.txt',
 '7310.txt',
 '14182.txt',
 '16892.txt',
 '14994.txt',
 '921.txt',
 '2471.txt',
 '15723.txt',
 '21301.txt',
 '14486.txt',
 '18646.txt',
 '4653.txt',
 '6594.txt',
 '5675.txt',
 '32064.txt',
 '25069.txt',
 '19458.txt',
 '7432.txt',
 '14038.txt',
 '9118.txt',
 '16455.txt',
 '32443.txt',
 '10430.txt',
 '14168.txt',
 '3840.txt',
 '20320.txt',
 '24581.txt',
 '17751.txt',
 '4795.txt',
 '3988.txt',
 '32529.txt',
 '11142.txt',
 '21738.txt',
 '25672.txt',
 '27506.txt',
 '6800.txt',
 '17555.txt',
 '15027.txt',
 '21887.txt',
 '29585.txt',
 '19222.txt',
 '20309.txt',
 '16723.txt',
 '8156.txt',
 '5382.txt',
 '1120.txt',
 '18048.txt',
 '22280.txt',
 '20174.txt',
 '19311.txt',
 '5074.txt',
 '11956.txt',
 '937.txt',
 '2743.txt',
 '1606.txt',
 '11764.txt',
 '20846.txt',
 '4925.txt',
 '14887.txt',
 '2291.txt',
 '22119.txt',
 '20763.txt',
 '3974.txt',
 '2297.txt',
 '496.txt',
 '13193.txt',
 '22912.txt',
 '12183.txt',
 '11811.txt',
 '18811.txt',
 '15769.txt',
 '17456.txt',
 '27716.txt',
 '13408.txt',
 '14498.txt',
 '12915.txt',
 '7976.txt',
 '18314.txt',
 '30469.txt',
 '992.txt',
 '5701.txt',
 '5562.txt',
 '13335.txt',
 '20551.txt',
 '16981.txt',
 '22901.txt',
 '12547.txt',
 '24286.txt',
 '5683.txt',
 '4270.txt',
 '5535.txt',
 '9056.txt',
 '14125.txt',
 '4855.txt',
 '26285.txt',
 '16500.txt',
 '7962.txt',
 '9380.txt',
 '18841.txt',
 '25223.txt',
 '8597.txt',
 '4516.txt',
 '21506.txt',
 '25957.txt',
 '11348.txt',
 '16992.txt',
 '6433.txt',
 '8084.txt',
 '11153.txt',
 '10154.txt',
 '17132.txt',
 '13431.txt',
 '3497.txt',
 '9325.txt',
 '7724.txt',
 '25184.txt',
 '16752.txt',
 '4254.txt',
 '29333.txt',
 '15505.txt',
 '9773.txt',
 '11460.txt',
 '2187.txt',
 '19080.txt',
 '977.txt',
 '2477.txt',
 '24902.txt',
 '5989.txt',
 '21256.txt',
 '5243.txt',
 '356.txt',
 '2225.txt',
 '19588.txt',
 '2006.txt',
 '8001.txt',
 '22480.txt',
 '5302.txt',
 '14936.txt',
 '24626.txt',
 '26689.txt',
 '31241.txt',
 '17216.txt',
 '5072.txt',
 '13161.txt',
 '20193.txt',
 '23538.txt',
 '27310.txt',
 '8145.txt',
 '1715.txt',
 '20649.txt',
 '21880.txt',
 '15365.txt',
 '22350.txt',
 '23521.txt',
 '5662.txt',
 '6211.txt',
 '16035.txt',
 '17700.txt',
 '11578.txt',
 '5996.txt',
 '24354.txt',
 '18384.txt',
 '4947.txt',
 '20574.txt',
 '3287.txt',
 '3399.txt',
 '8125.txt',
 '16447.txt',
 '19589.txt',
 '9638.txt',
 '7224.txt',
 '21231.txt',
 '4590.txt',
 '1299.txt',
 '8516.txt',
 '12457.txt',
 '9195.txt',
 '5235.txt',
 '11507.txt',
 '21525.txt',
 '11897.txt',
 '2556.txt',
 '28477.txt',
 '11714.txt',
 '609.txt',
 '2775.txt',
 '22387.txt',
 '6832.txt',
 '23259.txt',
 '7098.txt',
 '17604.txt',
 '7235.txt',
 '29957.txt',
 '26719.txt',
 '21846.txt',
 '10925.txt',
 '4452.txt',
 '8011.txt',
 '24292.txt',
 '17272.txt',
 '10362.txt',
 '2228.txt',
 '430.txt',
 '26727.txt',
 '26287.txt',
 '14905.txt',
 '7557.txt',
 '12381.txt',
 '9970.txt',
 '9648.txt',
 '12713.txt',
 '24064.txt',
 '29877.txt',
 '15510.txt',
 '13866.txt',
 '16847.txt',
 '17987.txt',
 '21403.txt',
 '8009.txt',
 '24790.txt',
 '26066.txt',
 '11871.txt',
 '25639.txt',
 '30902.txt',
 '27231.txt',
 '20971.txt',
 '29534.txt',
 '20553.txt',
 '12610.txt',
 '19989.txt',
 '23761.txt',
 '5888.txt',
 '9920.txt',
 '16311.txt',
 '12272.txt',
 '1741.txt',
 '21910.txt',
 '22780.txt',
 '15329.txt',
 '13695.txt',
 '19810.txt',
 '13957.txt',
 '21206.txt',
 '3712.txt',
 '19424.txt',
 '2704.txt',
 '29485.txt',
 '25612.txt',
 '25078.txt',
 '4275.txt',
 '3338.txt',
 '21385.txt',
 '18633.txt',
 '12533.txt',
 '8697.txt',
 '7664.txt',
 '22841.txt',
 '26709.txt',
 '3842.txt',
 '10330.txt',
 '61.txt',
 '14123.txt',
 '8099.txt',
 '4338.txt',
 '22995.txt',
 '16405.txt',
 '22373.txt',
 '2355.txt',
 '31253.txt',
 '19429.txt',
 '21572.txt',
 '21484.txt',
 '23624.txt',
 '12357.txt',
 '11989.txt',
 '7891.txt',
 '25410.txt',
 '9969.txt',
 '23814.txt',
 '1038.txt',
 '2828.txt',
 '18548.txt',
 '23172.txt',
 '22498.txt',
 '13868.txt',
 '27558.txt',
 '23658.txt',
 '20626.txt',
 '613.txt',
 '15717.txt',
 '23412.txt',
 '503.txt',
 '9945.txt',
 '4764.txt',
 '21592.txt',
 '21973.txt',
 '18216.txt',
 '3757.txt',
 '17382.txt',
 '6604.txt',
 '22230.txt',
 '20172.txt',
 '24605.txt',
 '25838.txt',
 '10235.txt',
 '17749.txt',
 '13843.txt',
 '7358.txt',
 '16963.txt',
 '10670.txt',
 '15056.txt',
 '12054.txt',
 '12739.txt',
 '25553.txt',
 '12467.txt',
 '472.txt',
 '434.txt',
 '22332.txt',
 '25404.txt',
 '16894.txt',
 '1063.txt',
 '22219.txt',
 '17067.txt',
 '5197.txt',
 '22910.txt',
 '19669.txt',
 '23455.txt',
 '3705.txt',
 '16793.txt',
 '26063.txt',
 '13175.txt',
 '32627.txt',
 '7024.txt',
 '6492.txt',
 '8368.txt',
 '22414.txt',
 '14319.txt',
 '6511.txt',
 '15513.txt',
 '14169.txt',
 '11491.txt',
 '514.txt',
 '679.txt',
 '18603.txt',
 '26511.txt',
 '8239.txt',
 '8509.txt',
 '25058.txt',
 '1092.txt',
 '26320.txt',
 '538.txt',
 '19706.txt',
 '21022.txt',
 '10940.txt',
 '6532.txt',
 '7492.txt',
 '13703.txt',
 '24896.txt',
 '14423.txt',
 '9165.txt',
 '22669.txt',
 '12145.txt',
 '9609.txt',
 '3143.txt',
 '13995.txt',
 '10558.txt',
 '24065.txt',
 '2944.txt',
 '24762.txt',
 '13069.txt',
 '8874.txt',
 '12058.txt',
 '12660.txt',
 '13445.txt',
 '3364.txt',
 '1984.txt',
 '5054.txt',
 '17805.txt',
 '10452.txt',
 '5369.txt',
 '4967.txt',
 '24923.txt',
 '18617.txt',
 '21789.txt',
 '8907.txt',
 '27983.txt',
 '1173.txt',
 '5698.txt',
 '19828.txt',
 '22527.txt',
 '25219.txt',
 '28889.txt',
 '11583.txt',
 '2924.txt',
 '22729.txt',
 '8772.txt',
 '3011.txt',
 '25606.txt',
 '13005.txt',
 '3102.txt',
 '11767.txt',
 '26283.txt',
 '9134.txt',
 '25338.txt',
 '25699.txt',
 '24956.txt',
 '4202.txt',
 '353.txt',
 '16233.txt',
 '6501.txt',
 '479.txt',
 '5786.txt',
 '4619.txt',
 '2178.txt',
 '18023.txt',
 '23660.txt',
 '26795.txt',
 '22311.txt',
 '1670.txt',
 '20926.txt',
 '3286.txt',
 '16910.txt',
 '9331.txt',
 '26231.txt',
 '16646.txt',
 '5689.txt',
 '21826.txt',
 '10979.txt',
 '17411.txt',
 '26521.txt',
 '9040.txt',
 '16423.txt',
 '10188.txt',
 '11076.txt',
 '12322.txt',
 '21684.txt',
 '2832.txt',
 '2261.txt',
 '26040.txt',
 '18947.txt',
 '27644.txt',
 '2057.txt',
 '1371.txt',
 '18982.txt',
 '24697.txt',
 '2686.txt',
 '2309.txt',
 '22979.txt',
 '31890.txt',
 '8579.txt',
 '26237.txt',
 '2684.txt',
 '21165.txt',
 '3471.txt',
 '13507.txt',
 '18465.txt',
 '29839.txt',
 '24322.txt',
 '8943.txt',
 '12331.txt',
 '23547.txt',
 '13274.txt',
 '21669.txt',
 '6999.txt',
 '1348.txt',
 '7300.txt',
 '8221.txt',
 '18520.txt',
 '10806.txt',
 '15390.txt',
 '21691.txt',
 '25955.txt',
 '5304.txt',
 '16658.txt',
 '2346.txt',
 '11850.txt',
 '25035.txt',
 '7362.txt',
 '7214.txt',
 '13602.txt',
 '21239.txt',
 '17467.txt',
 '3484.txt',
 '8171.txt',
 '18420.txt',
 '21517.txt',
 '8859.txt',
 '6468.txt',
 '15691.txt',
 '12461.txt',
 '15452.txt',
 '25915.txt',
 '28653.txt',
 '16372.txt',
 '16074.txt',
 '21434.txt',
 '8342.txt',
 '25939.txt',
 '21507.txt',
 '12720.txt',
 '4632.txt',
 '29146.txt',
 '10837.txt',
 '3347.txt',
 '2493.txt',
 '18750.txt',
 '17628.txt',
 '11523.txt',
 '23311.txt',
 '17357.txt',
 '10416.txt',
 '6053.txt',
 '7356.txt',
 '24326.txt',
 '26150.txt',
 '2085.txt',
 '11971.txt',
 '19184.txt',
 '26501.txt',
 '16993.txt',
 '23245.txt',
 '4299.txt',
 '11231.txt',
 '19869.txt',
 '27353.txt',
 '20400.txt',
 '19346.txt',
 '18637.txt',
 '24332.txt',
 '2652.txt',
 '25415.txt',
 '1996.txt',
 '6094.txt',
 '25283.txt',
 '25515.txt',
 '26706.txt',
 '17760.txt',
 '6037.txt',
 '15911.txt',
 '23418.txt',
 '6426.txt',
 '3184.txt',
 '10451.txt',
 '2906.txt',
 '4177.txt',
 '25383.txt',
 '16699.txt',
 '5008.txt',
 '17525.txt',
 '808.txt',
 '15278.txt',
 '7862.txt',
 '14035.txt',
 '15110.txt',
 '27742.txt',
 '14198.txt',
 '25995.txt',
 '5848.txt',
 '10468.txt',
 '20748.txt',
 '13457.txt',
 '31251.txt',
 '26947.txt',
 '26408.txt',
 '19255.txt',
 '5201.txt',
 '20402.txt',
 '6390.txt',
 '30502.txt',
 '25712.txt',
 '19930.txt',
 '24723.txt',
 '8581.txt',
 '7711.txt',
 '16254.txt',
 '26696.txt',
 '1067.txt',
 '9662.txt',
 '9288.txt',
 '12081.txt',
 '26248.txt',
 '24351.txt',
 '23402.txt',
 '27005.txt',
 '287.txt',
 '1320.txt',
 '11201.txt',
 '1060.txt',
 '30845.txt',
 '4868.txt',
 '8810.txt',
 '17964.txt',
 '20005.txt',
 '3800.txt',
 '945.txt',
 '23357.txt',
 '7276.txt',
 '18936.txt',
 '7225.txt',
 '23380.txt',
 '6008.txt',
 '23756.txt',
 '2953.txt',
 '25056.txt',
 '9248.txt',
 '21870.txt',
 '16775.txt',
 '14250.txt',
 '15475.txt',
 '13790.txt',
 '22303.txt',
 '18614.txt',
 '17060.txt',
 '15498.txt',
 '2071.txt',
 '521.txt',
 '15674.txt',
 '11349.txt',
 '2767.txt',
 '31937.txt',
 '26693.txt',
 '7307.txt',
 '15476.txt',
 ...]

## Heart Rate file for patient ``3325``

We are going to start with using [Pandas](http://pandas.pydata.org/) to read, summarize, and visualize numeric data. We are going to start with the MIMIC2 patient ``#3325``. This is what the first five lines of the file looks like (You can explore this in the Linux shell with less, more, or cat.

```Python
88
84
87
78
85
```

Pandas has two basic functions for reading in tabular data: [``read_table``](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.read_table.html) and [``read_csv``](https://pandas.pydata.org/pandas-docs/stable/generat

ed/pandas.read_csv.html). They are really the smae function with different default values for the delimiter, the character that is used to separate the data on each row: (a tab (``\t``) character for ``read_table`` and a comma (``,``) for ``read_csv``. We will use ``read_table`` to read in the heart rate values.

Both of these functions swill return a [Pandas DataFrame](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.html) which is a
>Two-dimensional size-mutable, potentially heterogeneous tabular data structure with labeled axes (rows and columns). 

Going back to an earlier analogy, a data structure is a complex molecule of data. 

A Pandas DataFrame is an object (everything is an object), and so it has attributes and methods. Two of the methods we will use right off the bat are

* [``head()``](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.head.html#pandas.DataFrame.head)
* [``tail()``](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.tail.html#pandas.DataFrame.tail)

which return the first (last) n (default=5) rows of the DataFrame.

### Read in the data and look at the head

In [35]:

BP = pd.read_table(os.path.join(BPDIR,'3235.txt'), header = None, names =["sys","dia"])
BP.head()
BP.size

970

The DataFrame provides an **index** for each row (e.g. $0, 1, 2, \cdots$). It will also display the label (name) for each column.

### Does anything seem wrong?

In [8]:
hr.shape, hr.size

((482, 1), 482)

### Reread the data, specifying what to use for the header

In [26]:
hr = pd.read_table(os.path.join(HRDIR,'3235.txt'), header=None, names = ["sys","dia"])
hr.head()

   sys  dia
0   88  NaN
1   84  NaN
2   87  NaN
3   78  NaN
4   85  NaN

This looks better but zero for a column label/name is not very meaningful. We can provide names to use for the columns with a ``names`` keyword argument.

### Reread the data providing a name for the heart rate column

In [12]:
hr = pd.read_table(os.path.join(HRDIR,'3235.txt'), header=None, names=["heart_rate"])
hr.head()

   heart_rate
0          88
1          84
2          87
3          78
4          85

### DataFrame Attributes

DataFrames have attributes that describe it, including

* ``shape``: shape of the frame
* ``size``: total number of elements in the frame
* ``dtypes``: the data types for each column in the frame

In [13]:
print(hr.shape, hr.size)
print(hr.dtypes)

(483, 1) 483
heart_rate    int64
dtype: object

## Exercise

Use the Pandas ``read_table``function to read in the blood pressure data for the same patient (``3235``). Answer the following questions:

1. How many rows are in the blood pressure data frame?
1. What data type (e.g. np.uint8) is used for the first column (systolic) of measurements?

In [ ]:

data_shape("replace_me_with_the_number_of_rows")

In [27]:
hr = pd.read_table(os.path.join(HRDIR,'3235.txt'), header=None, names = ["sys","dia"])
hr.head()

   sys  dia
0   88  NaN
1   84  NaN
2   87  NaN
3   78  NaN
4   85  NaN

In [28]:
bp = pd.read_table(os.path.join(HRDIR,'3235.txt'), header=None, names = ["sys","dia"])
bp.head()

   sys  dia
0   88  NaN
1   84  NaN
2   87  NaN
3   78  NaN
4   85  NaN

#### Compute summary statistics

We can compute summary statistics on a Pandas DataFrame or Series using either a numpy function or a method of the DataFrame or Series.

### How do we know what numpy functions are defined or what methods a DataFrame has?

In [37]:
print(hr.max())

sys    166
dia     79
dtype: int64

In [36]:
np.max(hr)

sys    166
dia     79
dtype: int64

In [49]:
#np.max(hr["heart_rate"])

In [ ]:
hr["heart_rate"].max()

## Exercise

What is the median value of the diastolic blood pressure for patient 3235?

In [39]:
median_diastolic("replace_me_with_median_value")

'Your answer needs to be a number'

### Python Aside

It can often become confusing of what variables (including functions) are alive and well in your workspace. Python provides some functions for exploring this question:

* `dir()`
* `globals()` 
* `locals()`

IPython provides magics for this `%who` and `%whos`

I find keeping track of variables in Jupyter notebooks more important than in traditional scripting because I end up with a lot of global variables.

In [ ]:
%who

In [ ]:
%whos

## Exercise

To explore equality of floating point numbers, perturb your answer by adding ``0.1``, ``0.01``, etc. until your perturbed answer is considered equal.

In [ ]:
media_diastolic("replace_me_with_median_value" + 0.1)

## [``describe()``](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.describe.html)

Pandas DataFrames (Series) come with a ``describe()`` method that provides summary statistics.

In [ ]:
hr.describe()

## Creating a New Column

We can create a new column in the DataFrame with a simple assignment statement:

In [40]:
hr["one"] = 1
hr["range"] = range(len(hr))
hr["inverse range"] = range(len(hr),0, -1)
hr.head()

   sys  dia  one  range  inverse range
0  128   68    1      0            485
1  128   69    1      1            484
2  129   74    1      2            483
3  100   54    1      3            482
4  108   56    1      4            481

We can also create a new column based on a function of the existing columns.

We can do this in two ways

### Method 1

In [44]:
hr["range_diff"] = hr["inverse range"] - hr["range"]
hr.head()

   sys  dia  one  range  inverse range  range_diff
0  128   68    1      0            485         485
1  128   69    1      1            484         483
2  129   74    1      2            483         481
3  100   54    1      3            482         479
4  108   56    1      4            481         477

### Method 2

Our second method uses the [``apply()``]() method and a function. For this, I frequently use [**anonymous function**](https://docs.python.org/3/tutorial/controlflow.html#lambda-expressions). 

#### Anonymous Functions

The syntax for anonymous functions is as follows:

```Python
lambda variable(s): some_function_of_the_variable(s)
```

So an anonymous doubling function would be

```Python
lambda x: 2*x
```

Here is an anonymous function that returns the upper case version of a string

```Python
lambda y: y.upper()
```

#### Pandas ``apply()``

* ``apply()`` applies a function to each element in the DataFrame (Series)
* We specify whether we want to apply the function by columns or rows by specifying the keyword argument ``axis`` (which defaults to 0 for columns)
    * Remembering to set `axis` is very important and something I frequently to do
* When we apply by rows, we get a variable that contains each row; we can access specific columns within the row

In [45]:
hr["range_diff2"] = hr.apply(lambda  row: row["range_diff"] - row["range"], 
                             axis=1)
hr.head()

   sys  dia  one  range  inverse range  range_diff  range_diff2
0  128   68    1      0            485         485          485
1  128   69    1      1            484         483          482
2  129   74    1      2            483         481          479
3  100   54    1      3            482         479          476
4  108   56    1      4            481         477          473

NameError: name 'head' is not defined

## Exercise:

[Data standardization](http://scikit-learn.org/stable/modules/preprocessing.html) transforms numeric data ($x$) by subtracting the mean ($\mu_x$) and dividing by the standard deviation ($\sigma_x$):

$$\tilde{x} = \frac{x-\mu_x}{\sigma_x}$$

Read in one of the heart rate data files and compute the standardized form of the data. Assign this normalized heart rate to the DataFrame with a label of **"normalized hr"**.

## Exercise


The student's t-test is often used to comapre two populations. Using ``len``, ``math.sqrt`` and numpy methods/functions compute the [t value](https://en.wikipedia.org/wiki/Student%27s_t-test#Independent_two-sample_t-test) for two files.

$$t = \frac{\bar{{X_1}}-\bar{X_2}}{s_{X_1X_2}\sqrt{\frac{1}{n_1}+\frac{1}{n_2}}}$$ where
$$s_{X_1X_2} = \sqrt{\frac{(n_1-1)s_{X_1}^2 + (n_2-1)s_{X_2}^2}{n_1+n_2-2}}$$.
1. Pick two heart rate files and comptue the t value for the two files.

In [55]:
hr2 = pd.read_table(os.path.join(HRDIR,'2775.txt'), header=None, names = ["heart_rate"])
hr2.head(5)

   heart_rate
0          92
1          96
2          93
3          93
4          88

In [57]:
hr2["normalized hr"]=(hr2["heart_rate] -hr2["heart_rate"]-hr2["heart_rate"].mean())/hr2["heart_rate"].std()

SyntaxError: invalid syntax (<ipython-input-57-f26ebae116ba>, line 1)

<a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-nc-sa/4.0/88x31.png" /></a><br /><span xmlns:dct="http://purl.org/dc/terms/" property="dct:title">University of Uah Data Science for Health</span> by <span xmlns:cc="http://creativecommons.org/ns#" property="cc:attributionName">Brian E. Chapman</span> is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/">Creative Commons Attribution-NonCommercial-ShareAlike 4.0 International License</a>.